* {
    box-sizing: border-box;
}

body {
    background-color: #b8c6db;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rajdhani', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    background-color: rgb(25, 21, 21);
    border-radius: 10px;
    width: 600px;
    color: white;
    overflow: hidden;
}

.header {
    padding: 4rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: #448e17;
    color: #fff;
    border: none;
    display: block;
    width: 50%;
    cursor: pointer;
    margin-left: 150px;
    margin-bottom: 50px;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
}

button:hover {
    background-color: #0d3d07;
}

button:focus {
    outline: none;
    background-color: #0f3e04;
}